@import './vars.module.scss';

@font-face {
	font-family: 'Nunito';
	src: url('./fonts/Nunito-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

.app {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: $c-foreground;
	font-size: $font-sm;
	font-weight: $font-w-extra;
	width: 100%;
	min-height: 100vh;
	padding: 0 30px;
}
